@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    color: white;
    padding: 10px;
    margin: 0;
}

.top_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vivastream-logo {
    display: flex;
    align-items: center;
}

    .vivastream-logo img {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }

.navbar-link-item {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    transition: color 0.2s;
}

    .navbar-link-item:hover {
        color: #d1d1d1;
    }

main {
    margin-top: 20px;
}

.filters {
    background-color: #292929;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.filter-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter-group {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

    .filter-group input,
    .filter-group select {
        padding: 15px;
        background-color: #383838;
        border: none;
        border-radius: 8px;
        color: white;
        outline: none;
        transition: background-color 0.3s;
    }

        .filter-group input:hover,
        .filter-group select:hover {
            background-color: #4a4a4a;
        }

.filter-actions {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.filter-button, .add-more-button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, padding 0.3s ease;
    margin-left: 10px;
}

    .filter-button:hover, .add-more-button:hover {
        background-color: #0056b3;
    }

.results {
    padding: 20px; /* Padding around the table to give it space */
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Shadow to make it stand out */
}

    .results table {
        width: 100%;
        border-collapse: collapse;
        background-color: #383838;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .results th, .results td {
        padding: 15px; /* Adjust padding within table cells */
        border-bottom: 1px solid #555;
    }

    .results th {
        background-color: #4a4a4a;
        color: white;
        text-align: left;
    }

    .results td {
        color: white;
        text-align: left;
    }

    .results tbody tr:last-child td {
        border-bottom: none;
    }

    .results tbody tr:hover {
        background-color: #505050;
    }

.action-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

    .action-button.update {
        background-color: #007BFF;
    }

    .action-button.remove {
        background-color: #DC3545;
    }

    .action-button.complete {
        background-color: #28A745;
    }

    .action-button:hover {
        opacity: 0.9;
        padding: 14px 22px; /* Slight padding increase on hover for smooth transition */
    }

.session-end-timer {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100px;
    height: 40px;
    right: 1.1%;
    top: 6.5%;
    justify-self: center;
    align-content: center;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #202020;
    color: white;
    padding: 10px;
    margin: 0;
}

.top_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
    border-radius: 10px;
    margin-bottom: 20px;
}

.vivastream-logo {
    display: flex;
    align-items: center;
}

    .vivastream-logo img {
        height: 32px;
        width: 32px;
        margin-right: 10px;
    }

.navbar-link-item {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    transition: color 0.2s;
}

    .navbar-link-item:hover {
        color: #d1d1d1;
    }

main {
    margin-top: 20px;
}

.filters {
    background-color: #292929;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.filter-form {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.filter-group {
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
}

    .filter-group input,
    .filter-group select {
        padding: 15px;
        background-color: #383838;
        border: none;
        border-radius: 8px;
        color: white;
        outline: none;
        transition: background-color 0.3s;
    }

        .filter-group input:hover,
        .filter-group select:hover {
            background-color: #4a4a4a;
        }

.filter-actions {
    flex: 1 1 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.filter-button, .add-more-button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, padding 0.3s ease;
    margin-left: 10px;
}

    .filter-button:hover, .add-more-button:hover {
        background-color: #0056b3;
    }

.results {
    padding: 20px; /* Padding around the table to give it space */
    background-color: #292929;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Shadow to make it stand out */
}

    .results table {
        width: 100%;
        border-collapse: collapse;
        background-color: #383838;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    }

    .results th, .results td {
        padding: 15px; /* Adjust padding within table cells */
        border-bottom: 1px solid #555;
    }

    .results th {
        background-color: #4a4a4a;
        color: white;
        text-align: left;
    }

    .results td {
        color: white;
        text-align: left;
    }

    .results tbody tr:last-child td {
        border-bottom: none;
    }

    .results tbody tr:hover {
        background-color: #505050;
    }

.action-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

    .action-button.update {
        background-color: #007BFF;
    }

    .action-button.remove {
        background-color: #DC3545;
    }

    .action-button.complete {
        background-color: #28A745;
    }

    .action-button:hover {
        opacity: 0.9;
        padding: 14px 22px; /* Slight padding increase on hover for smooth transition */
    }

.session-end-timer {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100px;
    height: 40px;
    right: 1.1%;
    top: 6.5%;
    justify-self: center;
    align-content: center;
    text-align: center;
}